.iconButton {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  transition: color 0.3s;
  padding: 5px;
  &:disabled {
    cursor: not-allowed;
    svg g {
      fill: #ccc;  
    }
  }
}